<header>
    
    <nav>
        <a href="/" class="logo">site.com</a>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="/contact">contact</a></li>
            <li><a href="/about">about</a></li>
        </ul>
    </nav>
</header>

<main>
   