<%- include('../partials/head') %>
<%- include('../partials/nav') %>
    
    <h1><%= page.title %></h1>

    <a href="/blog/">View all blog posts</a>

    <form action="/blog" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
        
        <label for="isActive">Active:</label>
        <input type="checkbox" name="isActive" id="is-active" />
        
        <label for="datePublished">Date Published:</label>
        <input type="date" name="datePublished" id="date-published" />
        
        <label for="category">Category:</label>
        <input type="text" name="category" id="category" />
        
        <label for="content">Content:</label>
        <textarea id="content" name="content" rows="4" cols="50"></textarea>

        <div class="blog-control-buttons">
            <button type="submit">Add Blog Post</button>
        </div>
        
    </form>

<%- include('../partials/footer') %>