<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page.title %></title>
    <link rel="stylesheet" href="/css/style.css">

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

</head>
<body>
<%- include('../partials/nav') %>
    
    <h1><%= page.title %></h1>

    <br>

    <a href="/blog/">View all blog posts</a>

    <br><br>

    <form id="new-form" class="blog-post" action="/blog" method="POST">

        <!-- TODO: do we have all the right columns to edit? -->

        <div class="column">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required />
        </div>

        <div class="column">
            <label for="name">Name for URL:</label>
            <small>should auto-fill</small>
            <input type="text" name="nameURL" id="name-url" required />
    
        </div>

        <div class="column checkbox-div">
            <label for="isActive">Active:</label>
            <input type="checkbox" name="isActive" id="is-active" />
        </div>

        <div class="column">
            <label for="datePublished">Date Published:</label>
            <input type="date" name="datePublished" id="date-published" required />
        </div>

        <div class="column">
            <label for="category">Category:</label>
            <input type="text" name="category" id="category" />
        </div>

        <div class="column">
            <div id="editor"></div>
            <input type="hidden" name="content" id="editorContent">
        </div>

        <div class="row blog-control-buttons">
            <button type="submit">Add Blog Post</button>
        </div>
        
    </form>

    <script>

        //TODO: create helper module to avoid duplication of this function
        let quill = new Quill('#editor', {
            theme: 'snow',   // Specify theme (snow or bubble)
            modules: {
            toolbar: [
                ['bold', 'italic', 'underline'],  // toggled buttons
                ['link', 'image']                 // link and image
            ]
            }
        });


        document.getElementById('new-form').onsubmit = function() {
            const content = quill.root.innerHTML;
            document.getElementById('editorContent').value = content;
        };

        const blogName = document.getElementById('name');
        const nameURL = document.getElementById('name-url');

        //TODO: create helper module to avoid duplication of this function
        const createURL = (name) => {

            //TODO: handle only words (i.e. a word must constist of a-z characters)
            let newName = '';
            name.split(" ").forEach(word => {
                newName += word + '-';
            });

            return newName.slice(0, -1);
        };

        blogName.addEventListener('blur', async (event) => {
            const setNameURL = await createURL(blogName.value);
            nameURL.value = setNameURL;
        });

    </script>

<%- include('../partials/footer') %>